@model CreateCategoryModel
@{
    Layout = "_Layout";
}

<form class="w-75 m-5 p-3  mx-auto" asp-action="Create" asp-controller="Category" method="post">
    <div class="mb-3">
        <label for="@Model.Definition" class="form-label">Kategori Adı :</label>
        <span asp-validation-for="@Model.Definition" class="text-danger"></span>
        <input type="text" class="form-control" asp-for="@Model.Definition" />
    </div>


    <div class="mb-3">
        <button class="btn btn-primary w-100">Kaydet</button>
    </div>

    <div asp-validation-summary="ModelOnly" class="text-danger">
    </div>
</form>